body, html {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}

.container-fluid {
  min-height: 100%;
}

.navbar-brand {
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 0.9em;
  margin-left: 5px;
}

.nav-item {
  margin: 0 2px;
  white-space: nowrap;
}

.k-box {
  display: flex;
  flex-wrap: wrap;
}

#abilities-box .k-item, #spells-box .k-item, #emblems-box .k-item, #items-box .k-item {
  flex: 1 0 13%;
  margin: 0.5%;
}

#relics-box .k-item, #relics2-box .k-item {
  flex: 1 0 14%;
  margin: 0.5%;
}

#spells-box .k-item {
  flex: 1 0 16%;
  margin: 0.5%;
}

.k-item button {
  padding: 0;
  width: 100%;
  height: 80px;
  font-size: 0.6em;
}

.k-item img {
  filter: grayscale(100%);
  height: 42px;
}

.k-item button.active img {
  filter: grayscale(0%);
}

.k-item .k-label {
  height: 2em;
}

#warp-instant {
  margin: 2px 10px 0 0 ;
}

#map-box {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#map-bg path {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 0.3;
}
#map-bg path[data-room]:hover {
  fill: #eeeeee!important;
}
#map-bg path.deep-grotto { fill: #8675bd; }
#map-bg path.mechanical-fort { fill: #468ed1; }
#map-bg path.gold-mines { fill: #d48100; }
#map-bg path.frozen-depths { fill: #0097b2; }
#map-bg path.color-caverns { fill: #826a36; }
#map-bg path.corrupted-tunnels { fill: #5a11ac; }
#map-bg path.lava-temple { fill: #cc2b10; }
#map-bg path.surface { fill: #534a43; }
#map-bg path.undergrounds { fill: #4c3939; }
#map-bg path.mossy-ruins { fill: #2e8b00; }
#map-bg path.acid-dungeon { fill: #5c351b; }

#map-numbers text {
  pointer-events: none;
  user-select: none;

  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 2.24865px;
  font-family: 'Segoe UI';
  fill: #ff00ff;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0.132794;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
#map-numbers text.room-boss { fill: #ff0000; }
#map-numbers text.room-smallshrine { fill: #ffffff; }
#map-numbers text.room-bigshrine { fill: #ffff00; }
#map-numbers text.room-start { fill: #00ff00; }
#map-numbers text.room-cutscene { fill: #abcfef; }

#map-doors path {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.2;
}

.alert {
  display: none;
  padding: 8px;
  margin: 7px;
}

canvas {
  border: 1px dashed #eee;
  margin-right: 5px;
  image-rendering: pixelated;
}

@media (min-width: 992px) {
  .alert {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
  }
}
